@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .lastmeal,
footer .blocks .lastmeal {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: black;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: lawngreen;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active) a:hover {
    border-bottom: 5px solid lawngreen;
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    padding-top: 70px;
    width: 600px;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: lawngreen;
    color: black;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    transition: all 500ms ease;
    font-size: 16px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 70px;
    right: 0;
}

.popular {
    padding-top: 50px;
}

.popular h3 {
    font-size: 31px;
    font-weight: 600;
}

.popular .recipes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.popular .recipes span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

footer {
    padding: 50px 0;
    background: lightgray;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks h3 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

/* ===== RECIPES PAGE ===== */


.recipes-page {
padding: 60px 0;
}



.recipe-search h1 {
font-size: 32px;
margin-bottom: 25px;
}


.search-bar {
display: flex;
max-width: 700px;
margin-bottom: 25px;
}


.search-bar input {
flex: 1;
padding: 14px 18px;
font-size: 16px;
border: 2px solid #000;
border-right: none;
outline: none;
}


.search-btn {
width: 60px;
border: 2px solid #000;
background: #fff;
cursor: pointer;
font-size: 18px;
}



.filters {
display: flex;
flex-wrap: wrap;
gap: 12px;
margin-bottom: 50px;
}


.filter-btn {
background: #000;
color: #fff;
border: none;
padding: 10px 18px;
font-size: 14px;
cursor: pointer;
border-radius: 4px;
}


.recipes-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 30px;
}


.recipe-card {
text-align: left;
}


.recipe-card img {
width: 100%;
height: 240px;
object-fit: cover;
border-radius: 6px;
}


.recipe-card h3 {
margin-top: 12px;
font-size: 16px;
font-weight: 600;
}


.recipe-search {
    width: 100%;
}

.search-bar {
    max-width: 100%;
    width: 100%;
}

.search-bar input {
    width: 100%;
}

