@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.wrapper {
    background: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .lastmeal,
footer .blocks .lastmeal {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: black;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: lawngreen;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active) a:hover {
    border-bottom: 5px solid lawngreen;
}

hr {
    opacity: 50%;
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    padding-top: 70px;
    width: 600px;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: lawngreen;
    color: black;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    transition: all 500ms ease;
    font-size: 16px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 70px;
    right: 0;
}

.popular h2 {
    font-size: 31px;
    font-weight: 600;
}

.recipes {
    padding-top: 25px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.recipe-card {
    border: 10px solid white;
    width: 300px;
}

.recipe-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 30px;
}

.recipe-card span {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

footer {
    padding: 50px 0;
    background: lightgray;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks h3 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}




