.recipe-instructions {
    padding-bottom: 100px;
    position: relative;
}

.recipe-instructions img {
    position: absolute;
    top: 90px;
    right: 0;
}

.recipe--info {
    padding-top: 70px;
    width: 600px;
}

.recipe--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.recipe--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.recipe-instructions .ingredients,
.recipe-instructions .steps {
     margin: 30px 0;
}

.recipe-instructions .ingredients li,
.recipe-instructions .steps li {
    list-style: none;
}

@media (max-width: 768px) {

    .recipe-instructions {
        padding-bottom: 40px;
    }

    .recipe-instructions img {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .recipe--info {
        width: 100%;
        padding-top: 20px;
    }
}